__pycache__
*.ogg
*.wav
*.pickle
*.pyc

# py_files/ogg_file.ogg
py_files/__pycache__/speeckit_tools.cpython-38.pyc
py_files/records.zip
py_files/records/temp/asr_results.pickle
py_files/__pycache__/speeckit_tools.cpython-38.pyc
py_files/__pycache__/speeckit_tools.cpython-38.pyc
